[user]
	name = CJ Sveningsson
	email = cj.sveningsson@fgirot.se
[alias]
	logg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
